<nz-card
  [nzBordered]="false"
  [nzTitle]="'Flink SQL Editor'"
  [nzLoading]="isLoading"
  [nzExtra]="extraTemplate"
>
  <ng-container>
    <sql-monaco-editor
      [inputValue]="flinkSql"
      (dataChange)="dataChange($event)"
    ></sql-monaco-editor>
  </ng-container>

  <ng-template #extraTemplate>
    <button
      nz-button
      nzType="primary"
      [nzSize]="small"
      nzShape="circle"
      (click)="showTip()"
    >
      <i nz-icon nzType="question" nzTheme="outline"></i>
    </button>
    <nz-divider nzType="vertical"></nz-divider>
    <nz-button-group>
      <button nz-button nzType="danger" [nzSize]="small" (click)="showPlan()">
        Show Plan
      </button>
      <button nz-button nzType="success" [nzSize]="small" (click)="saveJob()">
        Save
      </button>
      <button nz-button nzType="primary" [nzSize]="small" (click)="alert()">
        Submit
      </button>
    </nz-button-group>
  </ng-template>
</nz-card>
<nz-drawer
  [nzHeight]="'70%'"
  [nzVisible]="planVisible"
  [nzPlacement]="'bottom'"
  [nzTitle]="'Plan Visualization'"
  (nzOnClose)="hidePlan()"
>
  <ng-container>
    <flink-dagre></flink-dagre>
  </ng-container>
</nz-drawer>
<nz-drawer
  [nzWidth]="'30%'"
  [nzVisible]="tipVisible"
  [nzPlacement]="'right'"
  [nzTitle]="'Flink SQL Tips'"
  (nzOnClose)="hideTip()"
>
  <ng-container>
    <section>
      <p>
        <i nz-icon nzType="tool" nzTheme="outline"></i>
        Example 1: kafka to kafka job
      </p>
      <textarea
        rows="15"
        [value]="sql_tip"
        nz-input
        readonly
        style="resize:none"
      ></textarea>
      <nz-divider nzType="horizontal"></nz-divider>
      <p>
        <i nz-icon nzType="tool" nzTheme="outline"></i>
        Example 2: kafka to dameng job
      </p>
      <textarea
        rows="15"
        [value]="sql_tip"
        nz-input
        readonly
        style="resize:none"
      ></textarea>
    </section>
  </ng-container>
</nz-drawer>
