<nz-card
  [nzBordered]="false"
  [nzTitle]="'Flink SQL Editor'"
  [nzLoading]="isLoading"
  [nzExtra]="extraTemplate"
>
  <ng-container>
    <div nz-row [nzJustify]="center">
      <div nz-col nzSpan="10">
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm">
          <!-- <input nz-input formControlName="title" /> -->
          <textarea rows="25" nz-input formControlName="text"></textarea>
        </form>
      </div>
      <div nz-col nzSpan="12">
        <flink-monaco-editor
          [value]="validateForm.get('text').value"
        ></flink-monaco-editor>
      </div>
    </div>
  </ng-container>

  <ng-template #extraTemplate>
    <nz-button-group>
      <button
        nz-button
        nzType="danger"
        [nzSize]="small"
        (click)="testInterface(validateForm)"
      >
        Parse
      </button>
      <button nz-button nzType="success" [nzSize]="small" (click)="showPlan()">
        Show Plan
      </button>
      <button nz-button nzType="primary" [nzSize]="small" (click)="alert()">
        Submit
      </button>
    </nz-button-group>
  </ng-template>
</nz-card>
<nz-drawer
  [nzHeight]="'70%'"
  [nzVisible]="planVisible"
  [nzPlacement]="'bottom'"
  [nzTitle]="'Plan Visualization'"
  (nzOnClose)="hidePlan()"
>
  <ng-container>
    <flink-dagre></flink-dagre>
  </ng-container>
</nz-drawer>
