<nz-card
  [nzBordered]="false"
  [nzTitle]="'SQL Job List'"
  [nzExtra]="extraTemplate"
>
  <ng-container>
    <nz-table #editRowTable [nzData]="dataSet">
      <thead>
        <tr>
          <th>Name</th>
          <th>SQL</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <td>{{ data.name }}</td>
          <td>{{ shorten(data.sql) }}</td>

          <td>{{ data.description }}</td>
          <td>
            <a
              [routerLink]="['/sql-editor']"
              [state]="{ name: data.name, sql: data.sql, uuid: data.uuid }"
              >Edit</a
            >
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-popconfirm
              nzTitle="Sure to delete?"
              (nzOnConfirm)="deleteRow(data.uuid)"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
  <ng-template #extraTemplate>
    <input nz-input />
  </ng-template>
</nz-card>
